.poke__list{
  display: flex;
  flex-wrap: wrap;
}

.poke__card{
  width: 150px;
  height: 200px;
  background-color: rgb(226, 226, 226);
  border-radius: 20px;
  margin: 20px;
  list-style: none;
  text-align: center;
  border: 1px solid gray;
}
.card__title{
  text-transform: capitalize;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.card__image{
  width: 100px;
}
.card__plus-info{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
.info__item{
  background-color: gray;
  color: white;
  border-radius: 5px;
  padding: 2px;
}


